body{
  font-size: 10px;
}
.container{
  margin-top: 20px;
}
.form-control{
  width: 96%;
}
#save{
  padding: 9px 24px;
}

#view{
  margin-top: 25px;
}
#img{
  width: 195px;
  height: 220px;
}

#label{
  font-size: 13px;
  text-align: left;
  padding-right: 0;
  float: left;
}

.jumbotron{
  padding-bottom: 233px;
  padding-top: 43px;
  margin-left: 14px;
  margin-right: 12px;
}
